<nav class="navbar navbar-expand-lg bg-light mb-3 border-bottom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav nav-pills me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link <%= path != '/' ? '' : 'active' %>" aria-current="page" href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path != '/products' ? '' : 'active' %>" href="/products">
                        Products
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= path != '/about' ? '' : 'active' %>" href="/about">
                        About
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>